

form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

form label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
} 

.register {
    display: flex;
    justify-content: center;    /* horizontal */
    align-items: center;        /* vertical */
    
}

/* Actual box */
.register form {
    border: 2px solid rgb(248, 245, 245);
    border-radius: 10px;
    width: 40%;
    padding: 20px;
    text-align: center;
    background-color: #ccc;
}